<h1>NgIf for login and logout</h1>

<button (click)="toggleFunctionality()">Toggle Login and Logout</button>
<div *ngIf="login; else elseBlock">
    <a href="">Logout</a>
</div>
<div>
    <ng-template #elseBlock>
        <a href="">Login</a>
    </ng-template>
</div>
<hr/>
<hr/>
<div *ngIf="block==0">
    <h1>Heading 0</h1>
</div>
<div *ngIf="block==1">
    <h1>Heading 1</h1>
</div>
<div *ngIf="block==2">
    <h1>Heading 2</h1>
</div>
<div *ngIf="block==3">
    <h1>Heading 3</h1>
</div>
<div *ngIf="block==4">
    <h1>Heading 4</h1>
</div>
<hr/>
<hr/>
<div [ngSwitch]="block">
    <h1 *ngSwitchCase="0" [style.backgroundColor]="'red'">Red</h1>
    <h1 *ngSwitchCase="1" [style.backgroundColor]="'blue'">Blue</h1>
    <h1 *ngSwitchCase="2" [style.backgroundColor]="'yellow'">Yellow</h1>
    <h1 *ngSwitchCase="3" [style.backgroundColor]="'green'">Green</h1>
    <h1 *ngSwitchCase="4" [style.backgroundColor]="'purple'">Purple</h1>
    <h1 *ngSwitchDefault>No Color Match</h1>
</div>
<button (click)="toggleHeading()">Toggle Heading & BackgroundColor</button>