ul,li{
    list-style-type: none;
    display: flex;
}
li{
    padding: 10px;
    border: 1px solid red;
}

.app-div{
    display: flex;
    justify-content: space-around;
}

.active{
    background-color: orange;
}